header.header {
    display: flex;
    justify-content: space-between;
    padding: 1.125rem 0 1.125rem 0;
    align-items: center;
}

nav.desktop-nav {
    display: none;
}

ul.desktop-nav__box {
    display: flex;
    width: 100%;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        padding-right: 1rem;

        a {
            font-family: 'Manrope' sans-serif;
            font-size: 0.875rem;
            display: flex;
            text-decoration: none;
            padding-right: .2rem;
            text-transform: uppercase;
            color: $link-color;
            font-weight: 400;
        }

    }
    li:last-child > a {
        color: $btn-red;
        font-weight: bold;
    }
}

@include breakpoint(for-desktop-up) {
    nav.mobile-nav--btn {
        display: none;
    }
    nav.desktop-nav {
        display: flex;
    }
}

// submenu menu
.submenu-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed; 
  z-index: 11; 
  left: 0;
  top: 0;
  background-color: rgba(242 242 242 / 50%); 
  transition: 0.5s; 
}

.submenu-box {
    position: fixed;
    background: $white;
    height: 100%;
    width: 80%;
    z-index: 11;
    display: none;
    border-radius: 10px;
}

.submenu-box__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
}

.submenu-box__close--btn {
    padding: 0.5rem;
}

nav.submenu-box__item {

    a {
        text-transform: uppercase;
        font-size: 1rem;
        color: $link-color;
        padding: 0 0 .5rem 1rem;
        display: inline-block;

        img {
            padding-left: .3rem;
        }
    }
}

// open close submenu and overflo
.submenu-box.active,
.submenu-overlay.active {
    display: block;
}

.feat-show, 
.auto-show {
    display: none;
}
.feat-show.show,
.auto-show.show {
    display: block;
    padding: 0 0.5rem;
    background-color: $bg-submenu;

    li {
        display: block;
        a {
            display: block;
            padding: .2rem .2rem .2rem 1.1rem;
            color: $link-color;
            border-bottom: 1px solid #cfcbcb;
        }
        .last-item {
            border-bottom: 0;
        }
    }
}


li.active-state a {
    color: $btn-red;
}





