// svg icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-alerts {
  width: 1.361328125em;
}

.icon-businessMenager {
  width: 1.2744140625em;
}

.icon-CompetitionResearch {
  width: 0.9560546875em;
}

.icon-lounchAutomation {
  width: 1.015625em;
}

.icon-ourClients {
  width: 1.46484375em;
}

.icon-productMenager {
  width: 1.1455078125em;
}


// buttons
.btn-default {
  padding: 1.25em 2em;  
  outline: none;
  border-radius: 55px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .875rem;
  cursor: pointer;
}

.btn-primary {
  background-color:$btn-red;
  border: 0;
  color: $white;
}

.btn-secondery {
  background-color: $white;
  border: 1px solid $btn-red;
  color: $btn-red;
}

svg.svg__icon {
  height: 60px;
  width: 70px;
}