// slick slider
.slick-slider__item {
    padding: .3rem;
}

.slick-slider__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    h6 {
        margin: 0;
        color: primary-blue;
    }

    img.slick-slider__user--rounded {
        border-radius: 100px;
    }
}

.slick-dots li button:before {
    font-size: 15px;
}

.slick-dots li button:before {
    font-size: 18px;
    border: 1px solid #d1d1d1;;
    padding: 0;
    border-radius: 50px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #E1E0E0;    
}

.slick-dots li button:before {
    color: #FAFAFA;
}
  
.slick-prev:before, 
.slick-next:before {
    color: #FAFAFA;
}
  
.slick-slide.slick-current.slick-active {

    .slick-slider__item--link {
        background-color: #ECF3FA;
        padding: 1.875rem;
        border-radius: 10px;
        }

        .svg__icon {
            width: 100px;
        }

}

//////////////////
// Slick slider and custom properties
.left-nav-custom,
.right-nav-custom {
    display: none;
}

@include breakpoint(for-desktop-up) {
    .left-nav-custom {
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -30px;
        cursor: pointer;
    }
    .right-nav-custom {
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: -30px;
        cursor: pointer;
    }

}